.main__info__wrapper {
  display: flex;
  justify-content: flex-start;
  height: 300px;
}

.main__info__ava {
  width: 30vw;
  img {
    width: 90%;
    height: 90%;
  }
}

.main__info__ava_img {
  display: block;
  position: relative;
  object-fit: contain;
  margin: 0 auto;
}

.main__info__descr {
  font-size: 16px;
  width: 33vw;
  color: black;
}

.job__section__titles,
.study__section__titles {
  width: 100%;
}

.job__section__possition_descr,
.study__section__descr {
  width: 45%;
  font-size: 16px;
  h2 {
    font-size: 17px;
    font-weight: 700;
  }
}

.job__section__achiev,
.study__section__achiev {
  width: 45%;
  font-size: 16px;
  font-weight: 500;
}

.study__section__descr {
  margin-top: 40px;
}
.study__section__achiev {
  margin-top: 40px;
}

span.grey {
  color: grey;
}

.job__section__titles .accordion_heading span,
.study__section__titles .accordion_heading span {
  border-bottom: 2px dotted #333;
  font-size: 18px;
  cursor: pointer;
}

.active_style span {
  color: #17bbdb;
  font-weight: 700;
  text-decoration: none;
  border: 0;
}

.accordion_block__item {
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}

.accordion_block_content {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.accordion_block_content__active {
  overflow: visible;
  opacity: 1;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .main__info__descr {
    width: 50vw;
    font-size: 15px;
  }

  .job__section__possition_descr,
  .study__section__descr {
    font-size: 15px;
    h2 {
      font-size: 16px;
    }
  }

  .job__section__achiev,
  .study__section__achiev {
    font-size: 15px;
  }

  .job__section__titles .accordion_heading span,
  .study__section__titles .accordion_heading span {
    font-size: 17px;
  }

  .accordion_block__item {
    font-size: 17px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .main__info__ava {
    width: 30vw;
  }

  .main__info__descr {
    width: 50vw;
    font-size: 14px;
  }

  .job__section__possition_descr,
  .study__section__descr {
    font-size: 13px;
    h2 {
      font-size: 14px;
    }
  }

  .job__section__achiev,
  .study__section__achiev {
    font-size: 13px;
  }

  .job__section__titles .accordion_heading span,
  .study__section__titles .accordion_heading span {
    font-size: 16px;
  }

  .accordion_block__item {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .main__info__wrapper {
    flex-direction: column;
    margin-bottom: 0;
    height: fit-content;
  }

  .main__info__ava {
    width: 80vw;
    display: flex;
    justify-self: center;
    align-self: center;
    img {
      width: 50%;
      height: 50%;
    }
  }

  .main__info__ava_img {
    display: block;
    margin: 0 auto;
  }

  .main__info__descr {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }

  .job__section__titles,
  .study__section__titles {
    width: 100%;
    font-size: 15px;
  }

  .job__section__possition_descr,
  .study__section__descr {
    width: 100%;
    padding: 0;
    font-size: 14px;

    h2 {
      font-size: 15px;
    }
  }

  .job__section__achiev,
  .study__section__achiev {
    width: 100%;
    font-size: 14px;
  }

  .job__section__titles .accordion_heading span,
  .study__section__titles .accordion_heading span {
    font-size: 16px;
  }

  .accordion_block__item {
    font-size: 16px;
  }
}
